<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>top.fradeet.applemusic-recommandation</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>08785306-A32C-4996-BE92-0B58FA42D6EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DC7170A1-8BCC-4F27-91B0-CCDCFD6D857E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60524F44-BEEF-4081-B746-148350554DEE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8306CB87-1C85-4EE4-BB88-DF6445BFBB33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09B43DC3-7ACB-421F-B0ED-5DB657B92B1A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2776556-871B-419C-BC63-D556C2BD1EC2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2EFDEAEE-7583-43D0-BBFA-B85844AE458D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09B43DC3-7ACB-421F-B0ED-5DB657B92B1A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8306CB87-1C85-4EE4-BB88-DF6445BFBB33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58B677C0-1951-4047-8E96-9816E03904DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FB3ECA6-BFA7-497C-85CE-658107CFEC11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>08785306-A32C-4996-BE92-0B58FA42D6EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2776556-871B-419C-BC63-D556C2BD1EC2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FB3ECA6-BFA7-497C-85CE-658107CFEC11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DC7170A1-8BCC-4F27-91B0-CCDCFD6D857E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>832E2C8E-2F5F-44B5-AF9F-C2CC271DF30E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fradeet</string>
	<key>description</key>
	<string>Retrive your recommandation form Apple Music and play it.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Apple Music Recommandation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>inputmode</key>
				<integer>0</integer>
				<key>outputmode</key>
				<integer>0</integer>
				<key>shortcut</key>
				<string>Play via Apple Music URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.runshortcut</string>
			<key>uid</key>
			<string>832E2C8E-2F5F-44B5-AF9F-C2CC271DF30E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>columncount</key>
				<integer>4</integer>
				<key>filterable</key>
				<false/>
				<key>fixedorder</key>
				<false/>
				<key>imageaspect</key>
				<integer>0</integer>
				<key>inputfile</key>
				<string>get-rec-row-detail-alfred.sh</string>
				<key>inputtype</key>
				<integer>1</integer>
				<key>loadingtext</key>
				<string>Loading...</string>
				<key>showsubtitles</key>
				<true/>
				<key>showtitles</key>
				<true/>
				<key>subtitlesinfooter</key>
				<false/>
				<key>titlesinfooter</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.grid</string>
			<key>uid</key>
			<string>09B43DC3-7ACB-421F-B0ED-5DB657B92B1A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>target_shortcut</key>
					<string>Play via Apple Music URL</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/shortcuts/shortcut.installed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>9FB3ECA6-BFA7-497C-85CE-658107CFEC11</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>100</integer>
				<key>keyword</key>
				<string>{var:KEY_RECOMMAND}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Recommandation...</string>
				<key>script</key>
				<string>&lt;?php
require_once getenv("alfred_preferences") .
    DIRECTORY_SEPARATOR .
	"workflows" .
    DIRECTORY_SEPARATOR .
    getenv("alfred_workflow_uid") .
    DIRECTORY_SEPARATOR .
    "scripts" .
    DIRECTORY_SEPARATOR .
    "AlfredAdapter.php";

$auth_token = getenv("AUTH_TOKEN");
$media_token = getenv("MEDIA_TOKEN");
$cache_dir = getenv("alfred_workflow_cache");

$result = initRecPageAlfred($auth_token, $media_token, $cache_dir)
    |&gt; (fn(AlfredSF $x) =&gt; json_encode($x, JSON_UNESCAPED_UNICODE));
echo $result;
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Apple Music Recommand</string>
				<key>type</key>
				<integer>1</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2EFDEAEE-7583-43D0-BBFA-B85844AE458D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:music_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>DC7170A1-8BCC-4F27-91B0-CCDCFD6D857E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>Play song</string>
						<key>uid</key>
						<string>60524F44-BEEF-4081-B746-148350554DEE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>08785306-A32C-4996-BE92-0B58FA42D6EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>music_url</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C2776556-871B-419C-BC63-D556C2BD1EC2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>58B677C0-1951-4047-8E96-9816E03904DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:music_url}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8306CB87-1C85-4EE4-BB88-DF6445BFBB33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>08785306-A32C-4996-BE92-0B58FA42D6EC</key>
		<dict>
			<key>xpos</key>
			<real>630</real>
			<key>ypos</key>
			<real>65</real>
		</dict>
		<key>09B43DC3-7ACB-421F-B0ED-5DB657B92B1A</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>2EFDEAEE-7583-43D0-BBFA-B85844AE458D</key>
		<dict>
			<key>note</key>
			<string>Get and cache</string>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>58B677C0-1951-4047-8E96-9816E03904DC</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>145</real>
		</dict>
		<key>8306CB87-1C85-4EE4-BB88-DF6445BFBB33</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>832E2C8E-2F5F-44B5-AF9F-C2CC271DF30E</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>9FB3ECA6-BFA7-497C-85CE-658107CFEC11</key>
		<dict>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>C2776556-871B-419C-BC63-D556C2BD1EC2</key>
		<dict>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>75</real>
		</dict>
		<key>DC7170A1-8BCC-4F27-91B0-CCDCFD6D857E</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>amr</string>
				<key>placeholder</key>
				<string>amr</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEY_RECOMMAND</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Auth Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>AUTH_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Media Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>MEDIA_TOKEN</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
